html {
  @apply bg-white antialiased font-body;
}

body {
  @apply bg-white text-substrateDark dark:text-white text-base;
  background: transparent;
}

html.dark,
body.dark {
  @apply bg-darkBackground;
}

main.main-container {
  min-height: calc(100vh - 394px);
}

/* Headings */
h1,
.h1 {
  @apply font-body font-extrabold;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-body font-bold;
}

h1,
.h1 {
  @apply mb-3 text-2xl md:text-4xl xl:text-6xl;
  line-height: 1.2;
}

h2,
.h2 {
  @apply mb-4 text-4xl;
}

h3,
.h3 {
  @apply mb-5 text-3xl;
}

h4,
.h4 {
  @apply mb-6 text-lg md:text-2xl;
}

h5,
.h5 {
  @apply text-xl;
}

h6 {
  @apply mb-10 text-lg;
}

/* Paragraphs */
p {
  @apply mb-6 font-normal;
}

strong {
  @apply font-medium;
}

/* Blockquotes */
blockquote {
  @apply mb-4 px-8 font-body italic text-xl;
}

/* Horizontal Rules */
hr {
  @apply mb-6 border-t dark:border-gray-700;
}

/* Lists */
dl,
ol,
ul {
  @apply mb-0 ml-2 list-outside;
}

li {
  @apply mb-1 font-normal;
}

/* Definition Lists */
dl {
  dt {
    @apply font-semibold;
  }

  dd {
    @apply ml-6;
  }
}

/* Ordered Lists */
ol {
  @apply list-decimal;
}

/* Unordered Lists */
ul {
  @apply list-disc;
}
