
$substrateGreen: #24CC85;
$button-radius: 5px;

.primary {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  background-color: $substrateGreen;
  font: {
    family: 'Karla', sans-serif; 
    weight: 700;
    size: 20px;
  }
  padding: 15px 0px;
  width: 140px;
  border-radius: $button-radius;
  overflow: hidden;
}

.primary.effect {
  transition: all 0.2s linear 0s;
  
  &:before {
    content: "\2794";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 24px;
    height: 100%;
    background-color: #22B577;
    border-radius: 0px $button-radius $button-radius 0px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }
  
  &:hover {
    text-indent: -30px;
    
    &:before {
      right: 0;
      text-indent: 0px;
    }
  }
}
